html {
  scroll-behavior: smooth !important; /* Slows and smooths down scroll motion for page jumps */
}

body {
  overflow-x: hidden !important;
  background: #05aed4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e957c5,
    #652ad1,
    #05aed4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e957c5,
    #652ad1,
    #05aed4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none !important;
}

/* Hi, I'm Sarah */
.intro {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400 !important;
  font-size: 4em;
  margin-bottom: 0;
  color: #000750;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.hover_effect {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  width: 100%;
  padding: 1px;
  position: relative;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.hover_effect:after {
  content: '';
  height: 3px;
  left: 0;
  width: 1px;
  position: absolute;
  -webkit-transition: width 2s ease, background-color 1s ease;
  -moz-transition: width 2s ease, background-color 1s ease;
  -ms-transition: width 2s ease, background-color 1s ease;
  -o-transition: width 2s ease, background-color 1s ease;
  transition: width 2s ease, background-color 1s ease;
  right: 0%;
  margin: 0 auto;
}

.hover_effect:hover {
  color: #fff;
  -webkit-transition: color 2s ease;
  -moz-transition: color 2s ease;
  -ms-transition: color 2s ease;
  -o-transition: color 2s ease;
  transition: color 2s ease;
  cursor: pointer;
}

.hover_effect:hover:after,
.hover_effect:focus:after {
  width: 50%;
  background-color: #fff;
}

/* A Full Stack Web Developer */
.lead {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em !important;
  color: white;
  position: relative;
  bottom: 1em;
}

.lead:hover {
  cursor: pointer;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6em !important;
  font-weight: 600 !important;
  color: #000750;
  text-align: center;
  padding: 0.5em;
}

#contactText {
  color: white;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em !important;
}

h3:hover {
  color: white !important;
}

p {
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: white;
}

header {
  text-align: center;
}

hr {
  margin-top: 30px;
  border-width: 0;
  border-top: 1px solid white;
  width: 70px;
}

section {
  margin: 20px;
}

canvas {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  margin-left: 0em;
}

/* Nav bar  */
.nav-bar {
  text-align: center !important;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  padding: 1em;
  position: relative;
  right: 1em;
}

.nav-item {
  display: inline-block;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.nav-item:hover {
  color: #000750;
}

/*  About Me section */
.about {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.5em 3.3em 3em 3.3em;
  box-shadow: 8px 8px 18px 0 rgba(0, 0, 0, 0.25),
    -6px -6px 8px 0 rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

.about:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

#aboutMe {
  margin-bottom: 1.2em;
}

.projects a {
  color: #000750;
}

/* Skills section */
.skills {
  text-align: center;
}

.skillsTable {
  display: inline-block;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  list-style: none !important;
  font-weight: 600;
}

#additionalSkills {
  text-align: center;
}

td {
  color: white;
}

td:hover {
  color: #000750;
  cursor: pointer;
}

/* Adds margin below skills section */
#skillsContent {
  margin: 2em 0em 2em 0em;
}

/* Social icons  */
.social-links1 a {
  font-size: 25px;
  padding: 0px 8px;
  text-decoration: none;
  color: white;
}

.social-links1 a:hover {
  color: #e943cd;
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 60px auto;
}

/* Portfolio Section  */
.projects {
  text-align: center;
}

.portfolioIcon {
  position: relative;
}

.portfolioIconText {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  position: relative;
  bottom: 0.5em;
  color: #000750;
}

.portfolioIconText:hover {
  color: white;
}

.portfolioIcon:hover {
  color: white;
}

#portfolioTitle {
  text-decoration: none !important;
  color: white;
  position: relative;
  top: 0.6em;
}

#portfolioTitle:hover {
  color: #000750;
}

.portfolioImage {
  width: 300px;
  height: 150px;
  position: relative;
  margin-bottom: 01em;
  border: none !important;
}

.portfolioImage:hover {
  animation: bounce 0.6s;
}

#projectDescription {
  background-color: rgba(255, 255, 255, 0);
  padding: 2em 3em 2em 3em;
  box-shadow: 8px 8px 18px 0 rgba(0, 0, 0, 0.25),
    -6px -6px 8px 0 rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  justify-content: center;
}

#projectDescription:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

/* Footer */
.footerSection {
  overflow-x: hidden;
  background-color: #020918;
  width: 100vw;
  position: relative;
  top: 2em;
  right: 0.5em;
}

#footerText {
  color: white !important;
}

#emailLink {
  color: white;
  text-decoration: none;
}

#emailLink:hover {
  color: #9198e5;
}

.social-links2 a {
  font-size: 25px;
  padding: 0px 8px;
  text-decoration: none;
  color: #000750;
  text-align: center;
}

.social-links2 a:hover {
  color: white;
}

.social-footer {
  text-align: center;
  margin-bottom: 2.5em;
}

.footer {
  margin-bottom: 0 !important;
  text-align: center;
  overflow-x: hidden;
}

@media only screen and (max-width: 450px) {
  section {
    margin: 10px;
  }
}

/* Text hover effects */
span {
  font-size: 16px !important;
  display: inline-block !important;
}

main {
  height: 100%;
}

.animated,
.btn-nav {
  z-index: 9999;
}

.effects-list {
  margin: 100px auto 0;
  text-align: center;
  padding-bottom: 50px;
  list-style: none;
}

@media (min-width: 1200px) {
  .effects-list {
    text-align: left;
    padding-left: 30px;
  }
}

/* Bouncing hover effects */
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* Media Queries  */
@media only screen and (max-width: 1000px) {
  .nav-bar {
    text-align: center !important;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    padding: 0.9em;
  }
  .intro {
    font-size: 2.7em;
  }

  .lead {
    font-size: 1.4em !important;
    position: relative;
    bottom: 1em;
  }

  h2 {
    font-size: 1.3em;
  }

  .portfolioImage {
    position: relative;
    right: 15px;
  }
}
