html {
  scroll-behavior: smooth !important;
}

body {
  background: linear-gradient(#e66465, #9198e5) !important;
  overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
}

/* Hi, I'm Sarah */
.intro {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400 !important;
  font-size: 3.8em !important;
  margin-bottom: 0;
}

/* A Full Stack Web Developer */
.lead {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em !important;
  color: white;
  position: relative;
  bottom: 1em;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6em !important;
  font-weight: 400 !important;
  color: white;
  text-align: center;
  padding: 0.5em;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em !important;
}

h3:hover {
  color: white !important;
}

p {
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
}

header {
  text-align: center;
}

hr {
  margin-top: 30px;
  border-width: 0;
  border-top: 1px solid white;
  width: 70px;
}

section {
  margin: 20px;
}

canvas {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  margin-left: 0em;
}

/* Nav bar  */
.nav-bar {
  text-align: center !important;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  padding: 1em;
  position: relative;
  right: 1em;
}

.nav-item {
  display: inline-block;
  color: #020918;
  cursor: pointer;
}

.nav-item:hover {
  color: white;
}

/*  About Me section */
.about {
  background-color: rgba(255, 255, 255, 0.219);
  padding: 0em 3em 3em 3em;
  border: solid 1px #020918;
}

#aboutMe {
  margin-bottom: 1.2em;
}

.projects a {
  color: #020918;
}

/* Skills section */
.skills {
  text-align: center;
}

.skillsTable {
  display: inline-block;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  list-style: none !important;
  font-weight: 600;
}

/* Adds margin below skills section */
#skillsContent {
  margin: 2em 0em 2em 0em;
}

/* Social icons  */
.social-links1 a {
  font-size: 25px;
  padding: 0px 8px;
  text-decoration: none;
  color: white;
}

.social-links1 a:hover {
  color: #0c3386;
}

.container {
  max-width: 800px;
  margin: 60px auto;
}

/* Portfolio Section  */
.projects {
  text-align: center;
}

.portfolioIcon {
  position: relative;
  bottom: 1em !important;
}

.portfolioIconText {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  position: relative;
  bottom: 0.5em;
}

.portfolioIcon:hover {
  color: white;
}

#portfolioTitle {
  text-decoration: none !important;
}

#portfolioTitle:hover {
  color: white;
  text-decoration: underline !important;
}

.portfolioImage {
  width: 300px;
  height: 150px;
  position: relative;
}

.portfolioImage:hover {
  opacity: 0.5;
}

#projectDescription {
  margin-bottom: 2.5em;
}

/* Footer */
.footerSection {
  overflow-x: hidden;
  background-color: #020918;
  width: 100vw;
  position: relative;
  top: 2em;
  right: 0.5em;
}

#footerText {
  color: white !important;
}

#emailLink {
  color: white;
  text-decoration: none;
}

#emailLink:hover {
  color: #0c3386;
}

.social-links2 a {
  font-size: 25px;
  padding: 0px 8px;
  text-decoration: none;
  color: #020918;
  text-align: center;
}

.social-links2 a:hover {
  color: white;
}

.social-footer {
  text-align: center;
  margin-bottom: 2.5em;
}

.footer {
  margin-bottom: 0 !important;
  text-align: center;
  overflow-x: hidden;
}

@media only screen and (max-width: 450px) {
  section {
    margin: 10px;
  }
}
