html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #71a3b6;
  background-image: url('images/cubes.png') !important;
}

a {
  text-decoration: none !important;
}

/* Hi, I'm Sarah */
.intro {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400 !important;
  font-size: 3.8em !important;
  margin-bottom: 0;
}

/* A Full Stack Web Developer */
.lead {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em !important;
  color: white;
  position: relative;
  bottom: 1em;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6em !important;
  font-weight: 400 !important;
  color: white;
  text-align: center;
  padding: 0.5em;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em !important;
}

h3:hover {
  color: white !important;
}

p {
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
}

header {
  text-align: center;
}

hr {
  margin-top: 30px;
  border-width: 0;
  border-top: 1px solid white;
  width: 70px;
}

section {
  margin: 20px;
}

canvas {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  margin-left: 0em;
}

/* Nav bar  */
.nav-bar {
  text-align: center !important;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  padding: 1em;
  position: relative;
  right: 1em;
}

.nav-item {
  display: inline-block;
  color: #020918;
  cursor: pointer;
}

.nav-item:hover {
  color: white;
}

/*  About Me section */
.about {
  background-color: rgba(255, 255, 255, 0.301);
  padding: 0em 3em 3em 3em;
  border: solid 1px #020918;
}

#aboutMe {
  margin-bottom: 2.5em;
}

.projects a {
  color: #020918;
}

/* Skills section */
.skills {
  text-align: center;
}

.container-skills {
  margin: 20px auto 0 auto;
  max-width: 400px;
}

.bar {
  position: relative;
  background-color: #d8d8d8;
  height: 10px;
  margin: 0 0 20px 0;
}
.bar-fill {
  position: absolute;
  height: 10px;
}
.bar-title {
  position: relative;
  text-align: left;
  margin: 0 0 5px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
}
.percent {
  position: absolute;
  right: 0;
}

.bar-fill-html {
  width: 90%;
  background-color: #020918;
}

.bar-fill-css {
  width: 70%;
  background-color: #020918;
}

.bar-fill-javascript {
  width: 65%;
  background-color: #020918;
}

.bar-fill-react {
  width: 50%;
  background-color: #020918;
}

li {
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  list-style: none !important;
  font-weight: 600;
}

/* Adds margin below skills section */
#skillsContent {
  margin-bottom: 2.5em;
}

.adjustList {
  position: relative;
  right: 1em;
}

/* Social icons  */
.social-links1 a {
  font-size: 25px;
  padding: 0px 8px;
  text-decoration: none;
  color: #020918;
}

.social-links1 a:hover {
  color: white;
}

.container {
  max-width: 840px;
  margin: 60px auto;
}

/* Portfolio Section  */
.projects {
  text-align: center;
}

.portfolioIcon {
  position: relative;
  bottom: 2em !important;
}

.portfolioIconText {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  position: relative;
  bottom: 0.5em;
}

.portfolioIcon:hover {
  color: white;
}

#portfolioTitle {
  text-decoration: none !important;
}

#portfolioTitle:hover {
  color: white;
  text-decoration: underline !important;
}

.portfolioImage {
  width: 300px;
  height: 150px;
  border: solid 1px #020918;
  position: relative;
  bottom: 0.2em;
}

.portfolioImage:hover {
  opacity: 0.5;
}

#projectDescription {
  margin-bottom: 2.5em;
}

/* Footer */
#emailLink {
  color: white;
  text-decoration: none;
}

.social-links2 a {
  font-size: 25px;
  padding: 0px 8px;
  text-decoration: none;
  color: #020918;
  text-align: center;
}

.social-links2 a:hover {
  color: white;
}

.social-footer {
  text-align: center;
  margin-bottom: 2.5em;
}

.footer {
  margin-bottom: 0 !important;
  text-align: center;
}

@media only screen and (max-width: 450px) {
  section {
    margin: 10px;
  }
}
